.env
*.db
scripts/.env
__Labs/

.llm_venv

Labs/

.venv

Lectures/

Proposal/

Quizzes/

Rubrics/

___All_Errors.txt

desktop.ini

.vscode

*.pdf
*.pdf
databases/
.ipynb_checkpoints/
*.Identifier
*.lock
*.toml
